// Bye bye encoding issues
@charset 'utf-8';

@import "partials/reset";

@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "partials/placeholders";
@import "partials/fonts";
@import "partials/icons";
@import "partials/layouts";
@import "partials/typo";
@import "partials/jobtitle";
@import "partials/skills";
@import "partials/stacks";
@import "partials/training";
@import "partials/langages";
@import "partials/experience";
@import "partials/events";

body {
  background: $color-white;
  color: $color-text;

  font-family: $font-text;

  font-size: 14px;
  line-height: 20px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mq(medium) {
    font-size: 16px;
    line-height: 23px;
  }
}

a {
  color: $color-first;
  text-decoration: none;
  &:hover {
    color: $color-first-annex;
    text-decoration: underline;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: $font-title;
}

.h1 {
  color: $color-second-annex;
  font-size: 40px;
  font-variant: small-caps;
  line-height: 40px;
  padding: 60px 40px;
  text-align: center;
}

.h2 {
  border-bottom: 2px solid whitesmoke;
  color: black;
  font-family: $font-text;
  font-size: 40px;
  line-height: 40px;
  margin: 60px 0 90px 0;
  padding: 30px 40px 90px 0;
  text-align: center;
  text-transform: uppercase;
}

.h3 {
  color: $color-first;
  // color: $color-gray-lightest;
  font-size: 24px;
  line-height: 33px;
  margin: 90px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
  @include mq(medium) {
    font-size: 40px;
    line-height: 53px;
    margin: 90px 0 60px 0;
  }
}

.h4 {
  font-size: 16px;
  line-height: 23px;
  padding: 16px 0;
  text-transform: uppercase;
  @include mq(medium) {
    font-size: 20px;
    line-height: 29px;
  }
  @include mq(large) {
    padding: 0;
    text-align: right;
  }
}

.h5 {
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  text-transform: uppercase;
  @include mq(large) {
    text-align: right;
  }
}

[class^="ability-score"],
[class*=" ability-score"] {
  float: right;
}

[class^="ability-score"]:before,
[class*=" ability-score"]:before,
[class^="ability-score"]:after,
[class*=" ability-score"]:after {
  font-family: "webyousoon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ability-score-1 {
  &::before {
    color: $color-first;
    content: "I";
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: "IIII";
    letter-spacing: 3px;
  }
}

.ability-score-2 {
  &::before {
    color: $color-first;
    content: "II";
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: "III";
    letter-spacing: 3px;
  }
}

.ability-score-3 {
  &::before {
    color: $color-first;
    content: "III";
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: "II";
    letter-spacing: 3px;
  }
}

.ability-score-4 {
  &::before {
    color: $color-first;
    content: "IIII";
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: "I";
    letter-spacing: 3px;
  }
}

.ability-score-5 {
  &::before {
    color: $color-first;
    content: "IIIII";
    letter-spacing: 3px;
  }
}

ul.list-unstyled {
  list-style: none;
  padding: 0;
}

ul.list-styled {
  list-style: none;
  padding: 0;
  li {
    border-left: 3px solid $color-first;
    padding: 4px 20px;

    + li {
      margin-top: 10px;
    }
  }
}

p + p {
  padding-top: 20px;
}

b {
  font-family: $font-bold;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.img-center {
  margin: 0 auto;
}

.row + .row {
  padding-top: 60px;
}

a {
  color: $color-first;
  font-family: $font-title;
  text-decoration: none;
  transition: all 0.5s ease-out;
  word-wrap: break-word;
  &:hover {
    color: $color-first-annex;
  }
}

b {
  font-family: $font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

li i + span {
  line-height: 32px;
  vertical-align: super;
  padding-left: 6px;
}

ul.contact li + li {
  margin-top: 24px;
}

.clearfix:after {
  clear: both;
}

.handwriting {
  font-family: $font-handwriting;
  -webkit-font-smoothing: antialiased;
}

.align-right {
  text-align: right;
}

.icon-inverse {
  transform: rotate(90deg);
}

.board {
  padding-bottom: $gutter-height-l;
  padding-top: $gutter-height-l;
}

.title-focus {
  color: $color-gray-lightest;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.bigger {
  i {
    font-size: 24px;
  }
  font-size: 16px;
}

.board {
  .info,
  .post {
    margin-top: $gutter-height-l;
  }
  .vignette {
    margin-bottom: $gutter-height-m;
  }
  header {
    position: relative;
  }
  header > i {
    color: $color-gray-lightest;
    font-size: 48px;
    position: absolute;
    right: 0;
    top: 12px;
  }
  h1 {
    color: $color-gray-lightest;
    font-size: 36px;
    margin-bottom: $gutter-height-m;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    border-bottom: 1px solid $color-first;
    color: $color-gray-darker;
    font-size: 24px;
    margin-bottom: $gutter-height-s;
    padding-bottom: $gutter-height-s;
    padding-top: $gutter-height-s;
  }
}
@include mq(large) {
  .board {
    .info,
    .post {
      margin-top: 0;
    }
  }
}

.focus,
.focus-inverse {
  font-size: 18px;
  line-height: 26px;
}
.focus {
  color: $color-first;
}
.focus-inverse {
  color: $color-white;
}

.container {
  background: $color-bg;
  color: $color-text;
}

.container-inverse {
  background: $color-bg-inverse;
  color: $color-text-inverse;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}
