@charset "UTF-8";

[class^='icon-']:before,
[class*=' icon-']:before {
  @extend %font-icon;
}

$icon-list: (
  ('brush', 'a'),
  ('call', 'b'),
  ('email', 'c'),
  ('hammer', 'd'),
  ('twitter', 'e'),
  ('direction', 'f'),
  ('cloud-upload', 'g'),
  ('pulse-graph', 'h'),
  ('shuffle', 'i'),
  ('check', 'j'),
  ('loop', 'k'),
  ('keynote', 'l'),
  ('github', 'm'),
  ('tags', 'n'),
  ('arrows-separate-double', 'o'),
  ('arrows-separate-single', 'p'),
  ('arrow-in-right', 'q'),
  ('arrow-in-top', 'r'),
  ('arrow-in-bottom', 's'),
  ('arrow-in-left', 't'),
  ('arrow-out-left', 'u'),
  ('arrow-out-right', 'v'),
  ('arrow-out-top', 'w'),
  ('arrow-out-bottom', 'x'),
  ('more-circle', 'y'),
  ('more-square', 'z'),
  ('love', 'A'),
  ('facebook', 'B'),
  ('google-plus', 'C'),
  ('tag', 'D'),
  ('browser', 'E'),
  ('blog', 'F'),
  ('hand-cursor', 'G'),
  ('star', 'H'),
  ('start-filled', 'I'),
  ('reward-1', 'J'),
  ('reward-2', 'K'),
  ('reward-3', 'L'),
  ('database', 'M'),
  ('server', 'N'),
  ('device', 'O'),
  ('place', 'P'),
  ('time-past', 'Q'),
  ('triangle-top', 'R'),
  ('triangle-bottom', 'S'),
  ('triangle-left', 'T'),
  ('triangle-right', 'U'),
  ('mark-top', 'V'),
  ('mark-bottom', 'W'),
  ('mark-left', 'X'),
  ('mark-right', 'Y'),
  ('pen', 'Z'),
  ('write-pen', '0'),
  ('keyboard', '1'),
  ('cli', '2'),
  ('cursor', '3'),
  ('settings', '4'),
  ('board', '5'),
  ('books', '6'),
  ('light-bulb', '7'),
  ('goal', '8')
);

@each $name, $content in $icon-list {
  .icon-#{$name}::before {
    content: $content;
  }
}

.icon-rotate-90 {
  transform: rotate(90deg);
}
.icon-rotate-180 {
  transform: rotate(180deg);
}
.icon-rotate-270 {
  transform: rotate(270deg);
}

.icon-stacked {
  position: relative;
  > .icon {
    position: relative;
  }
  > .icon + .icon {
    position: absolute;
    bottom: 0;
  }
}

.icon--size-xxl {
  @include font-size(40px, $font-size-base);
}
