.picture-teaser {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.welcome-teaser {
  font-family: $font-bold;
  // position: absolute;
  max-width: 100%;
  width: 100%;
  @include text(100px, $font-size-base, $line-height-xl);
}

#page-welcome {
  position: relative;
  // padding-top: 80px;
}

.band {
  height: 80px;
}

.band--secondary {
}

.container-flex--focus {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  > * {
    width: 100%;
  }
  @include mq(small) {
    > * {
      width: 100%;
    }
  }
  @include mq(medium) {
    > * {
      width: 50%;
    }
  }
  @include mq(xlarge) {
    > * {
      width: 25%;
    }
  }
  @include mq(xxlarge) {
    > * {
      width: 20%;
    }
  }
}

.title--band {
  padding-top: -50px;
}
