$color-white: #ffffff;
$color-black: #000000;

$color-primary: #00bcd4;
$color-primary-darken: #124a60;
$color-secondary: #ffc107;
$color-secondary-darken: darken($color-secondary, 10%);
$color-secondary-darkest: darken($color-secondary, 33%);

$color-near-white: whitesmoke;

$color-gray-lightest: #e0e0e0;
$color-gray-lighter: #757575;
$color-gray-medium: #9e9e9e;
$color-gray-darker: #424242;
$color-gray-darkest: #212121;

$color-purple: #4a148c;
$color-blue: #4a90e2;
$color-yellow: #f8e71c;
// $color-cyan-darken: #0079A9;

$color-red: #d0021b;
$color-red-darken: darken($color-red, 10%);

$color-bg: $color-white;
$color-bg-inverse: $color-gray-darkest;

$color-text: $color-gray-darker;
$color-text-inverse: $color-white;
$color-text-focus: $color-primary;

$opacity-background: 0.8;
$opacity-background-low: 0.4;

$font-text: 'raleway', Helvetica, Arial, sans-serif;
$font-title: 'raleway-bold', Helvetica, Arial, sans-serif;
$font-bold: 'raleway-bold', Helvetica, Arial, sans-serif;
$font-handwriting: 'fabfeltscriptbold', 'raleway-bold';
$font-code: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-icon-1: 'streamline';
$font-icon-2: 'FontAwesome';

// font-size
$font-size-base: 16px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
//
$font-size-shortcut: 30px;

// line-height
$line-height-s: 1.5;
$line-height-m: 1.5;
$line-height-l: 1.65;
$line-height-xl: 1.65;
$line-height-xxl: 2;

$screen-s: 480px;
$screen-m: 600px;
$screen-l: 768px;
$screen-xl: 1024px;

$gutter-height: 16px;
$gutter-width: 16px;
$gutter-width-s: $gutter-width;
$gutter-width-m: $gutter-width * 2;
$gutter-width-l: $gutter-width * 4;
$gutter-width-xl: $gutter-width * 6;
$gutter-height-s: $gutter-height;
$gutter-height-m: $gutter-height * 2;
$gutter-height-l: $gutter-height * 4;
$gutter-height-xl: $gutter-height * 6;

$max-width-screen: $screen-l;
// $max-width-screen: $screen-l - 2 * $gutter-width-m;
$max-height-screen: $max-width-screen * 9 / 16;

$max-width-col: $max-width-screen / 3 - 2 * $gutter-width-s;
$max-height-col: $max-width-col * 9 / 16;

$path-img: '../img';
