#experience {

  background: whitesmoke;
  padding: 1px 0;


  .mission {
    
    p + p,
    p + ul,
    ul + p {
      padding-top: 16px;
    }

    li {
      position: relative;
      &::before {
        @extend %font-icon;
        content: 'U';
        color: $color-gray-lightest;
        font-size: 12px;
        left: -17px;
        top: 4px;
        position: absolute;
      }
    }
    @include mq(medium) {
      li::before {
        left: -17px;
        top: 5px;
      }
    }
    @include mq(large) {
      border-left: 2px solid $color-gray-lightest;
    }
  }


  .customer {
    border-bottom: 2px solid $color-first;
    color: $color-gray-darkest;
    font-family: $font-title;
    font-size: 20px;
    padding-bottom: 16px;
    padding-top: 16px;
    @include mq(large) {
      border-bottom: 0;
      padding-top: 0;
    }
  }

  .stacks {
    color: $color-gray-lighter;
    font-size: 14px;
  }

  .place,
  .date {

    padding-top: 0;

    @include mq(large) {
      text-align: right;
      padding-top: 24px;
    }

    &::before {
      @extend %font-icon;
      color: $color-first;
      padding-right: 4px;
      @include mq(large) {
        display: block;
        padding-right: 0;
        padding-bottom: 4px;
      }
    }
  }

  .place {
    &::before {
      content: "P";
    }
  }

  .date {
    &::before {
      content: "Q";
    }
  }

  .row {
    background: white;
    margin: 8px;
    padding: 16px 0;
    @include mq(medium) {
      margin: 24px;
      padding: 24px;
    }
  }
}