#job-title {

  background: white;

  margin-bottom: 60px;
  padding-bottom: 60px;

  p {
    padding-bottom: 30px;
  }

  ul.list-contact > li {
    margin: 8px 0;
    padding: 8px;
    + li {
      border-top: 1px solid whitesmoke;
      padding-top: 22px;
    }
    &:nth-child(odd) {
      // background: whitesmoke;
    }
  }
}