<!doctype html>
<html>

<head>
  <title>Alvin 🤘 - Blog</title>
</head>

<body>
  <div>${ require('../../assets/html/navigation.html') }</div>

  <div>${ require('./vorlon-js.md') }</div>

  <div>${ require('../../assets/html/footer.html') }</div>
</body>

</html>