<!doctype html>
<html>

<head>
  <title>Alvin 🤘 - Blog</title>
</head>

<body class="container--near-white">
  <div>${ require('../../assets/html/navigation.html') }</div>

  <section class="post">${ require('./vorlon-js.md') }</section>

  <div>${ require('../../assets/html/footer.html') }</div>
</body>

</html>