<!doctype html>
<html>

<head>
  <title>Alvin 🤘 - Blog</title>
</head>

<body>
  <script src="bundle.js"></script>
  <div>${ require('./assets/html/navigation.html') }</div>
  <div>${ require('./assets/html/blog.html') }</div>
  <div>${ require('./assets/html/footer.html') }</div>
  <div style="text-align: center">v${ require('../package.json').version }</div>
</body>

</html>