<!doctype html>
<html>

<head>
  <title>Alvin 🤘</title>
</head>

<body>
  <script src="bundle.js"></script>
  <div>${ require('./assets/html/teaser.html') }</div>
  <div>${ require('./assets/html/navigation.html') }</div>
  <div>${ require('./assets/html/welcome.html') }</div>
  <div>${ require('./assets/html/preview-blog.html') }</div>
  <div>${ require('./assets/html/footer.html') }</div>
</body>

</html>