<!doctype html>
<html>

<head>
  <title>Alvin 🤘 - Formation</title>
</head>

<body>
  <script src="bundle.js"></script>
  <div>${ require('./assets/html/navigation.html') }</div>
  <div>${ require('./assets/html/my-trainings.html') }</div>
  <div>${ require('./assets/html/footer.html') }</div>
</body>

</html>