// Bye bye encoding issues
@charset 'utf-8';

@import 'partials/reset';

@import 'partials/variables';
@import 'partials/functions';
@import 'partials/mixins';
@import 'partials/placeholders';
@import 'partials/fonts';
@import 'partials/icons';
@import 'partials/layouts';
@import 'partials/typo';
@import 'partials/jobtitle';
@import 'partials/skills';
@import 'partials/stacks';
@import 'partials/training';
@import 'partials/langages';
@import 'partials/experience';
@import 'partials/events';
@import 'partials/navigation';
@import 'partials/card';
@import 'partials/containers';
@import 'partials/post';

@import 'partials/specific';

body {
  background: $color-white;
  color: $color-text;

  font-family: $font-text;

  font-size: 14px;
  line-height: 20px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mq(medium) {
    font-size: 16px;
    line-height: 23px;
  }
}

[class^='ability-score'],
[class*=' ability-score'] {
  float: right;
}

[class^='ability-score']:before,
[class*=' ability-score']:before,
[class^='ability-score']:after,
[class*=' ability-score']:after {
  font-family: 'webyousoon' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ability-score-1 {
  &::before {
    color: $color-primary;
    content: 'I';
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: 'IIII';
    letter-spacing: 3px;
  }
}

.ability-score-2 {
  &::before {
    color: $color-primary;
    content: 'II';
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: 'III';
    letter-spacing: 3px;
  }
}

.ability-score-3 {
  &::before {
    color: $color-primary;
    content: 'III';
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: 'II';
    letter-spacing: 3px;
  }
}

.ability-score-4 {
  &::before {
    color: $color-primary;
    content: 'IIII';
    letter-spacing: 3px;
  }
  &::after {
    color: $color-gray-lightest;
    content: 'I';
    letter-spacing: 3px;
  }
}

.ability-score-5 {
  &::before {
    color: $color-primary;
    content: 'IIIII';
    letter-spacing: 3px;
  }
}

ul.list-unstyled {
  list-style: none;
  padding: 0;
}

ul.list-styled {
  list-style: none;
  padding: 0;
  li {
    border-left: 3px solid $color-primary;
    padding: 4px 20px;

    + li {
      margin-top: 10px;
    }
  }
}

p + p {
  padding-top: 20px;
}

b {
  font-family: $font-bold;
}

.justify {
  text-align: justify;
}

.img-center {
  margin: 0 auto;
}

.row + .row {
  padding-top: 60px;
}

li i + span {
  line-height: 32px;
  vertical-align: super;
  padding-left: 6px;
}

ul.contact li + li {
  margin-top: 24px;
}

.clearfix:after {
  clear: both;
}

.align-right {
  text-align: right;
}

.icon-inverse {
  transform: rotate(90deg);
}

.board {
  padding-bottom: $gutter-height-l;
  padding-top: $gutter-height-l;
}

.title-focus {
  color: $color-gray-lightest;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.bigger {
  i {
    font-size: 24px;
  }
  font-size: 16px;
}

.board {
  .info,
  .post {
    margin-top: $gutter-height-l;
  }
  .vignette {
    margin-bottom: $gutter-height-m;
  }
  header {
    position: relative;
  }
  header > i {
    color: $color-gray-lightest;
    font-size: 48px;
    position: absolute;
    right: 0;
    top: 12px;
  }
  h1 {
    color: $color-gray-lightest;
    font-size: 36px;
    margin-bottom: $gutter-height-m;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    border-bottom: 1px solid $color-primary;
    color: $color-gray-darker;
    font-size: 24px;
    margin-bottom: $gutter-height-s;
    padding-bottom: $gutter-height-s;
    padding-top: $gutter-height-s;
  }
}
@include mq(large) {
  .board {
    .info,
    .post {
      margin-top: 0;
    }
  }
}

.focus,
.focus-inverse {
  font-size: 18px;
  line-height: 26px;
}
.focus {
  color: $color-primary;
}
.focus-inverse {
  color: $color-white;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}
